// $color-text: #313838;
$color-white: #ffffff;
$color-text-gray: #aaaaaa;
$color-footer-bg: #eee;

// $color-accent: #e07f5f;

$color-primary: #284180;
$color-secondary: #fefefe;
$color-text: #111b44;

// == FONTS
// 400 500 700
$font-header: 'Montserrat', sans-serif;
// 400
$font-body: 'Open Sans', sans-serif;
