.nav {
	padding: 2rem 3rem;
	// height: calc(6rem + 2.2rem);
	background-color: $color-primary;
	color: $color-secondary;

	&__items {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		font-family: $font-header;

		&--logo {
			font-weight: 700;
			font-size: 3.6rem;
			text-transform: uppercase;
		}

		&--hamburger {
			font-size: 3.6rem;
		}
	}

	&__directory {
		line-height: 0.8;
		font-size: 1.6rem;
		font-weight: 400;
		color: $color-secondary;
	}
}
